div
  aside#sidebar
    header
      h1 robochat
    div
      h1 #developers
      ul
        li(data-ng-repeat="developer in main.robochat.developers")
          span.status(data-ng-class="developer.status")
          span(data-ng-bind="'@' + developer.name")
          
    footer
  div#content
    header
      div(id="header-title")
        h1 #developers
      div(id="header-menu")
        input(type="search" placeholder="Search...")
    ul(data-robochat-messages messages="main.robochat.messages")
      li(data-ng-repeat="message in main.robochat.messages track by $index")
        img.message-image(src="assets/images/user.jpg")
        div.message-content
          header
            span.member(data-ng-bind="message.member")
            span.timestamp(data-ng-bind="message.ts | date:'HH:mm:ss'")
            div(fav-message)
          div(data-ng-bind="message.text")
          footer
    footer
        textarea(data-ng-model="main.message" ng-keyup="$event.keyCode == 13 && main.post()")
