div
  aside#sidebar
    header
      h1 robochat
    div
      h1 #developers
      ul
        li
          a(href="")
            span.status.online
            span @beatriz
        li
          a(href="")
            span.status.out
            span @iker
        li
          a(href="")
            span.status.offline
            span @hugo
    footer
  div#content
    header
      div(id="header-title")
        h1 #developers
      div(id="header-menu")
        input(type="search" placeholder="Search...")
    ul
      li
        img.message-image(src="assets/images/user.jpg")
        div.message-content
          header
            span.member luis
            span.timestamp 23:11 PM
          div
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            | consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            | cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            | proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          footer
    footer
      textarea
